.container {
	margin-bottom: 4em;
}
header {
  background: #fbfbfb;
  border-bottom: 1px solid #ccc;
  padding-top: .8em;
  margin-bottom: .8em;
  font-family: Georgia, serif;
}
h1 {
	margin-top: 0;
}
h2 {
  font-size: 24px;
  margin-top: .2em;
}
.history .user {
	border-bottom: 1px dotted #999;
}
.history .datetime {
	color: #666
}
.history .comment {
  /*
	font-style: italic;*/
  font-size: 120%;
  border-left: 12px solid #ee0; 
  /*
  background: #ffff88; 
  border-radius: 4px;
  */
  padding: 1px 6px;
}
.state {
	font-weight: bold;
}
.identifier {

}
.container {
  width: 100% !important;
}
.heading {
	font-size:130%;
	margin-bottom: .2em;
}

.relationship td {
  border: 0 !important;
}
.relationship .concept {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fdfdfd;
  padding: 1em;
  box-shadow 2px 2px 2px #ccc;
}

pre {
  background: #f8f8f8;
}

.relationship h4 {
  color:#666;
  font-weight: 800;
  font-size: 90%;
  margin: 12px 0 3px 0;
  padding: 0;
}
.relationship ul {
  padding-left: .5em;
  list-style-type: none;
}
.relationship ul.flat {
  padding-left: 0;
}
.relationship li.icon {
  text-indent:-10px;
  margin-left:20px
}
.relationship ul.flat li:not(:last-child)::after {

}
.relationship ul.flat li:not(:first-child) {
}


.relationships a {
  display: block;
}

.criterium {
  background: #ffffee;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0 4px;
  border-radius: 3px;
  margin: 1px 1px;
  display: inline-block;
}

/*********************************************************
 * Typeahead.js Bootstrap integration
 *********************************************************/

.twitter-typeahead {
	float:left;
     width: 100%;
}
.tt-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
     color: #bbb;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion, .tt-empty {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
tt-empty {
  font-style: italic;
}
.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-suggestion.tt-cursor {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
